{{ $data := index site.Data site.Language.Lang }}

{{ if $data.team.team.enable }}
{{ with $data.team.team }}
{{"<!-- Start Our Team -->" | safeHTML}}
<div class="row">
  <div class="column">
    <div class="card">
      <img src="img1.jpg" alt="Rick" style="width:100%">
      <div class="container">
        <h2>Rick Bilby</h2>
        <p class="title">Vampire Bat</p>
        <p>Rick thinks he is an awesome consultant.</p>
        <p>example@example.com</p>
        <p><button class="buttonFB" onclick="https://www.facebook.com">Facebook</button></p>
		<p><button class="buttonLI" onclick="https://www.linkedin.com/">Linked In</button></p>
      </div>
    </div>
  </div>

    <div class="column">
    <div class="card">
      <img src="img1.jpg" alt="Rick" style="width:100%">
      <div class="container">
        <h2>Rick Bilby</h2>
        <p class="title">Vampire Bat</p>
        <p>Rick thinks he is an awesome consultant.</p>
        <p>example@example.com</p>
        <p><button class="buttonFB" onclick="https://www.facebook.com">Facebook</button></p>
		<p><button class="buttonLI" onclick="https://www.linkedin.com/">Linked In</button></p>
      </div>
    </div>
  </div>

    <div class="column">
    <div class="card">
      <img src="img1.jpg" alt="Rick" style="width:100%">
      <div class="container">
        <h2>Rick Bilby</h2>
        <p class="title">Vampire Bat</p>
        <p>Rick thinks he is an awesome consultant.</p>
        <p>example@example.com</p>
        <p><button class="buttonFB" onclick="https://www.facebook.com">Facebook</button></p>
		<p><button class="buttonLI" onclick="https://www.linkedin.com/">Linked In</button></p>
      </div>
    </div>
  </div>
  </div>
{{"<!-- /team -->" | safeHTML}}
{{ end }}
{{ end }}
